{% load static %}
<!DOCTYPE html>

<head>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/main.css' %}" />

</head>
<body>

    <section class="wrapper style1 align-center">
        <div class="inner">
            <h1>방명록</h1>
        </div>
    </section>
    
    <div class="container">
        <section class="wrapper style1 align-center">
            <span class="icons"><a href="{% url 'guestbook' %}" class="icon solid style2 fas fa-pen-nib"></a></span>
            <p>Guest Book</p>
        </section>
    </div>    

    <br>

    <div class="container">
        <form action="{% url 'blogCreateFn' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>제목</h4>
            <input type="text" name="title" autofocus required>
            <br>
            <br>
            <h4>작성자</h4>
            <input type="text" name="writer" autofocus required>
            <br>
            <br>
            <h4>본문</h4>
            <textarea name="body" cols=40, rows=10></textarea>
            <br>
            <br>
            <h4>이미지 첨부</h4>
            <input type="file" name="images" accept="image/*">
            <br>
            <br>
            <input type="submit" value="저장">
        </form>
    </div>

</body>
</html>
