<!DOCTYPE html>
{% load static %}
<head>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/main.css' %}" />

</head>
<body>

    <section class="wrapper style1 align-center">
        <div class="inner">
            <h1>방명록</h1>
        </div>
    </section>

    <section class="wrapper style1 align-center">  
            <div class="items style3 small onscroll-fade-in">
                <section>
                    <a href="{% url 'main' %}" class="icon solid style2 fas fa-home"></a>
                    <p>홈</p>
                </section>
                <section>
                    <a href="#" class="icon solid style2 fas fa-pen-nib"></a>
                    <!-- #에 url 'blogNew' 써야함 -->
                    <p>방명록 남기기</p>
                </section>
        </div>
    </section>

    
    <div class="content">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성시간</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in posts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'blogDetail' blog.id %}">{{blog.title}}</a></td>
                        <td>{{blog.summary}}</td>
                        <td>{{blog.pub_date}}</td>
                        <td>{{blog.writer}}</td>
                    </tr>
                    {% endfor %}

                    {# First Previous 3of4 Next Last #}
                    <div class="container">
                        {# First Previous #}
                        {% if posts.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{posts.previous_page_number}}">Previous</a>
                        {% endif %}
                        {# 3of4 #}
                        <span>{{posts.number}}</span>
                        <span>of</span>
                        <span>{{posts.paginator.num_pages}}</span>
                        {# Next Last #}
                        {% if posts.has_next %}                        
                        <a href="?page={{posts.next_page_number}}">Next</a>
                        <a href="?page={{posts.paginator.num_pages}}">Last</a>
                        {% endif %}
                    </div>
                </tbody>
            </table>
        </div>
    </div>
    
    <br>
    <br>

</body>
</html>
